h1 {
  text-align: center;
  color: blue;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  background-color: blue;
  font-size: 14px;
  text-align: center;
  color: white;
  padding: 15px 32px;
}

img {
  width: 30%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}
