h1 {
  text-align: center;
  color: blue;
}

.contact-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  color: blueviolet;
}

img {
  width: 40%;
  margin: 20px auto;
  border-radius: 20px;
  display: block;
}
